html body {
    height: 100%;
    padding: 30px;
    background-color: #202020;
  }

#full-container{
  opacity: 1;
  height:100%
}
  .container {
    width: 740px;
    margin: 0 auto;
  }
  #footer {
    font-size: 11px;
    display: flex;
  }
  #footer .footer-col {
    flex: 1;
  }
  h1 {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
  }
  .bar {
    shape-rendering: crispEdges;
  }
  .bar:hover {
    fill: #ffffff;
    transition: fill ease-in-out 200ms;
    cursor: pointer;
  }
  .axis text {
    fill: #666;
    font-size: 12px;
  }
  .axis path {
    shape-rendering: crispEdges;
    stroke: #888;
  }
  .y-axis path {
    display: none;
  }
  .axis line {
    display: none;
  }
  #sorting:hover, #sorting:focus {
    text-decoration: none;
    box-shadow: none;
  }
  #sorting img {
    opacity: 0.8;
  }
  #tooltip {
    position: absolute;
    opacity: 0;
    background: #d6d6d5;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
  }
  .tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: rgb(92, 92, 92);
  }

  .tick text{
    overflow: hidden;
  }

  .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: auto;
    margin-right: 20px;
  }

  .grid-item{
    margin-left: auto;
    margin-right: auto;
  }

  #sy_snum_container{
    grid-column: 1;
    grid-row: 1;
  }

  #sy_pnum_container{
    grid-column: 3;
    grid-row: 1;
  }

  #st_spectype_container{
    grid-column: 3;
    grid-row: 2;
  }

  #discoverymethod_container{
    grid-column: 1;
    grid-row: 2;
  }

  #habitable_container{
    grid-column: 3;
    grid-row: 3;
  }

  #distance_container{
    grid-column: 1;
    grid-row: 3;
  }

  #disc_year_container{
    grid-column: 2;
    grid-row: 3;
  }

  #radius_mass_container{
    grid-column: 2;
    grid-row: 1;
  }

  #data_table{
    grid-row: 2;
    grid-column: 2;
  }

  .x-axisF text{
    font-size:6px;
  }

  .chart-line {
    fill: none;
    stroke: #345454;
    stroke-width: 2px;
    clip-path: url(#clip);
  }

  .chart-area{
    fill: #345454
  }

.chartH, .chartH a{
  text-align:center;
  color: #d6d6d5
}

.axis text, .tick text, .axis-title, .tooltip circle, .tooltip text{
  fill: #d6d6d5;
}

.domain {
  stroke: #d6d6d5;
}

.additionalInfo{
  color: #d6d6d5;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #d6d6d5;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
  overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalH{
  text-align: center;
}

.modal-content h3{
  text-align: center;
}

.lineClip{
  overflow-x: hidden;
}

.buttons{
  font-size: 14px;
  color: #d6d6d5;
  border: 2px solid #d6d6d5;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
}

.selected{
  background-color: #d6d6d5;
  color: black;
}

.imodal_grid-text h1{
  color: #345454;
}

#RHeader{
  font-size: 30px;
}
